@mixin container() {
  width: $width-small;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: $width-medium;
  }

  @media #{$desktop-widths} {
    width: $width-large;
  }
}

@mixin track() {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
}

@mixin thumb() {
  width: 9px;
  height: 9px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
