@font-face {
  font-weight: normal;
  font-family: "Kontur-Iconic";
  font-style: normal;

  src: url("../fonts/Kontur-iconic-eco.eot");
  src: url("../fonts/Kontur-iconic-eco.eot?") format("embedded-opentype"),
       url("../fonts/Kontur-iconic-eco.woff2") format("woff2"),
       url("../fonts/Kontur-iconic-eco.woff") format("woff"),
       url("../fonts/Kontur-iconic-eco.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: $font-color;
  font-style: normal;

  background-color: $bg-color;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
