@font-face {
  font-weight: normal;
  font-family: "Kontur-Iconic";
  font-style: normal;

  src: url("../fonts/шрифт.ttf") format("ttf");
}

@font-face {
  font-weight: normal;
  font-family: "Segoe UI";
  font-style: normal;

  src: url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot");
  src: url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix") format("embedded-opentype"),
       url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff") format("woff"),
       url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf") format("truetype"),
       url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web") format("svg");
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: $font-color-default;
  font-style: normal;

  background-color: $bg-color;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
