@font-face {
  font-weight: normal;
  font-family: "Kontur-Iconic";
  font-style: normal;

  src: local("Kontur-Iconic-eco"),
    url("../fonts/kontur-iconic-eco.ttf") format("ttf");
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: $font-color;
  font-style: normal;

  background-color: $bg-color;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
