$bg-color: #fff;
$sidebar-color-default: #bcbcbc;
$sidebar-color-edited: #5199db;
$sidebar-color-error: #f6c1c0;

$font-color-default: #404040;
$font-color-error: #da0902;

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
