.matrix {
  display: inline-table;
  vertical-align: top;

  outline: 2px solid #404040;
  outline-offset: -2px;

  border: none;
  border-collapse: separate;
  border-spacing: 0;

  padding-bottom: 10px;
  padding-right: 10px;
  margin-right: 40px;
  margin-bottom: 40px;

  position: relative;

  /* IE8 does some weird stuff.
    :before isn't positioned absolutely,
    :after is positioned but both are not
    shown with empty content.
    So let it be :: instead of : */
  /* Same in IE 9 */
  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 8px;
    right: 8px;

    height: 6px; // not 2 because of weird IE & EDGE rendering

    background-color: $bg-color;
  }

  &::before {
    top: -2px;
  }

  &::after {
    bottom: -2px;
  }
}

.matrix__name {
  font-size: 24px;

  &--right {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--bottom {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.matrix__element {
  box-sizing: border-box;
  width: 40px;
  height: 40px;

  margin-left: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 6px;

  text-align: left;

  background-color: $input-color;

  border: 1px solid #d9d9d9;
  border-image: linear-gradient(to top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.3) 97%, rgba(0,0,0,0.3) 100%);
  border-image-slice: 1;

  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);

  &--error {
    background-color: $error-color;
  }

  &[disabled] {
    color: $font-color-disabled;
    -webkit-text-fill-color: $font-color-disabled;
    background-color: $input-color-disabled;
    border: 1px solid rgba(0,0,0,0.15);
    border-image: none;
    box-shadow: none;
  }

  &::placeholder {
    opacity: 1;
    color: #d9d9d9;
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    color: #d9d9d9;
    -webkit-text-fill-color: #d9d9d9;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: #d9d9d9;
  }

  &:-moz-placeholder {
    opacity: 1;
    color: #d9d9d9;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: #d9d9d9;
  }

  &:focus {
    outline: 2px solid $outline-color;
    outline-offset: -1px;
    box-shadow: inset 1px 1px 0 0 #fff,
                inset -1px -1px 0 0 #fff;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}

